__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv
.idea/
.vscode/
*.db
*.sqlite3
.coverage
htmlcov/
coverage.xml
*.log
*.pem
*.key
*.crt
*.chain
secrets/
terraform.tfstate*
terraform.tfvars
.terraform/
kubeconfig
*.kubeconfig
